{% for hosts in groups [ 'tag_Name_' + ec2_config.Web  ] %}
{
         "client": {
"name": "Sensu-client",
           "address": "{{ Tomcat.instances[0].public_ip_address }}",
           "subscriptions": [ "linux" ],
           "keepalive": {
           "handler": "mailer",
             "thresholds": {
           "warning": 250,
           "critical": 300
             },
             "refresh": 90
           }
         }
}
{% endfor %}

